/* Used Across Multiple Indices*/
body {
    background-color: rgb(69, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-weight: bolder;
}

.big_div {
    height: 80%;
    width: 75%;
    border: 2, solid, black;
    border-radius: 20px;
    background-color: lightgrey;
    padding: 50px;
    position: fixed;
    right: 12.5%;
    top: 5%;
}

.back {
    position: absolute;
    bottom: 10%;
    left: 3%;
}


/* Splash Screen */

.logo {
    height: 160px;
    width: 256px;
}

.create {
    position: absolute;
    left: 13%;
    top: 50%;
}

.log_in {
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.log {
    width: 40%;
    height: 80%;
    border: 5px solid grey;
    position: absolute;
    bottom: 5%;
    right: 3%;
}

.settings {
    position: absolute;
    bottom: 10%;
    left: 33%;
}


/* Create Presentation - Main Screen */
.topic {
    position: absolute;
    top: 40%;
}

.pictures {
    position: absolute;
    top: 55%;
}

#none {
    padding: 1%;
}

#titles {
    padding: 1%;
}

#yeees {
    padding: 1%;
}

.length {
    position: absolute;
    top: 25%;
    right: 30%;
}

#short {
    padding: 1%;
}

#medium {
    padding: 1%;
}

#long {
    padding: 1%;
}
